<!doctype html>
<html lang=de ng-app=Relais-3 ng-cloak>
  <head>
    <title>relais-&lt;3@sonnenkarma.de</title>

    <meta charset=utf-8>
    <meta name=description content="A chat service">
    <meta name=viewport content=width=device-width,initial-scale=1.0>

    <link rel=stylesheet href=stylesheets/normalize.css>
    <link rel=stylesheet href=stylesheets/font-awesome.min.css>
    <link rel=stylesheet href=stylesheets/alertify.core.css>
    <link rel=stylesheet href=stylesheets/alertify.default.css>
    <link rel=stylesheet href=stylesheets/main.css>
    <link rel=stylesheet href=stylesheets/colorscheme.css>

    <link rel=import href=lib/polymer/polymer-ui-elements/polymer-ui-sidebar-menu/polymer-ui-sidebar-menu.html>
    <link rel=import href=lib/polymer/polymer-ui-elements/polymer-ui-menu-item/polymer-ui-menu-item.html>
    <link rel=import href=lib/polymer/polymer-ui-elements/polymer-ui-submenu-item/polymer-ui-submenu-item.html>
    <link rel=import href=lib/polymer/polymer-ui-elements/polymer-ui-pages/polymer-ui-pages.html>
    <link rel=import href=lib/polymer/polymer-ui-elements/polymer-ui-toggle-button/polymer-ui-toggle-button.html>
    <link rel=import href=lib/polymer/polymer-ui-elements/polymer-ui-ratings/polymer-ui-ratings.html>
  </head>

  <body ng-controller=RelaisCtrl ng-init=init()>
    <header>
      <h2><em>relais@sonnenkarma.de</em></h2>
      <div id=powerbar ng-show=sessionId>
        <input ng-model=filter r3-tooltip="Hiermit kannst du die Kanalliste nach dem eingegebenen Suchbegriff filtern." placeholder=Kanalfilter>
        <button ng-model=muted ng-class="{active: !muted}" ng-click="toggleAudio()" class=primary r3-tooltip="Klicke hier, um Soundeffekte ein- bzw. auszuschalten.">
          <i ng-class="{'fa-volume-off': !!muted, 'fa-volume-up': !muted}" class="fa fa-inverse"></i>
        </button>
        <button id=help ng-class="{active: !!help}" ng-click="toggleHelp()" r3-tooltip="Während die Hilfe aktiviert ist, wird zu jedem Seitenelement ein kurzer Infotext angezeigt." class=primary>
          <i class="fa fa-question fa-inverse"></i>
        </button>
        <button ng-click=doSignout() r3-tooltip="Klicke hier, wenn du dich abmelden willst." class=danger>
          <i class="fa fa-power-off fa-inverse"></i>
        </button>
      </div>
    </header>

    <article>
      <section ng-view>
        <noscript>
          Diese Seite nutzt <a href=http://de.wikipedia.org/wiki/AngularJS>AngularJS</a>
          und <a href=http://de.wikipedia.org/wiki/WebSocket>WebSockets</a>,
          weshalb Javascript akiviert werden muss!
        </noscript>
      </section>
    </article>

    <footer>
      <em>Cid Highwind &copy;2013</em>
    </footer>

    <script src=lib/underscore-min.js></script>
    <script src=lib/moment-with-langs.min.js></script>
    <script src=lib/polymer/polymer/polymer.js></script>
    <script src=lib/jquery-2.0.3.min.js></script>
    <script src=lib/angular.js/build/angular.js></script>
    <script src=lib/angular.js/build/angular-route.js></script>
    <script src=lib/angular.js/build/angular-cookies.js></script>
    <script src=lib/angular.js/build/angular-sanitize.js></script>
    <script src=lib/angular.js/build/angular-animate.js></script>
    <script src=lib/angular.js/build/i18n/angular-locale_de-de.js></script>
    <script src=lib/alertify.min.js></script>
    <script src=lib/Markdown.Converter.js></script>
    <script src=lib/Markdown.Editor.js></script>
    <script src=javascripts/app.js></script>
    <script src=javascripts/controller.js></script>
    <script src=javascripts/services.js></script>
    <script src=javascripts/directives.js></script>
    <script src=javascripts/filters.js></script>
  </body>
</html>
