<form name=registerForm ng-controller=RegisterCtrl ng-submit=doRegister(user)>
  <fieldset>
    <legend>Registriere dein Karma!</legend>

    <label for=username>Benutzername:</label>
    <div class=input-addon>
      <i ng-class="{error: !!registerForm.username.$error.required || !!registerForm.username.$error.minlength || !!registerForm.username.$error.maxlength, success: registerForm.username.$valid}" class="input-addon-item fa fa-user"></i>
      <input name=username ng-model=user.username ng-minlength=3 ng-maxlength=14 class=input-addon-field id=username placeholder="Gib hier deinen Benutzernamen ein..." required>
    </div>

    <label for=password>Passwort:</label>
    <div class=input-addon>
      <i ng-class="{error: !!registerForm.password.$error.required || !!registerForm.password.$error.minlength || !!registerForm.password.$error.maxlength, success: registerForm.password.$valid}" class="input-addon-item fa fa-barcode"></i>
      <input name=password ng-model=user.password ng-minlength=3 ng-maxlength=30 type=password class=input-addon-field id=password placeholder="Gib hier dein Passwort ein..." required>
    </div>

    <label for=control>Passwort bestätigen:</label>
    <div class=input-addon>
      <i ng-class="{error: !!registerForm.control.$error.required || !!registerForm.control.$error.minlength || !!registerForm.control.$error.maxlength, success: registerForm.control.$valid}" class="input-addon-item fa fa-barcode"></i>
      <input name=control ng-model=user.control ng-minlength=3 ng-maxlength=30 type=password class=input-addon-field id=control placeholder="Gib hier dein Passwort zur Kontrolle erneut ein..." required>
    </div>
  </fieldset>
  <fieldset>
    <button ng-disabled=!registerForm.$valid type=submit class=primary>
      Registrieren
      <i class="fa fa-arrow-right fa-inverse"></i>
    </button>
    <button ng-click=doCancel() class=primary>
      <i class="fa fa-arrow-left fa-inverse"></i>
      Abbrechen
    </button>
  </fieldset>
</form>
