<form name=signinForm ng-controller=SigninCtrl ng-submit=doAuthenticate(user)>
  <fieldset>
    <legend>Melde dich an!</legend>

    <label for=username>Benutzername:</label>
    <div class=input-addon>
      <i ng-class="{error: !!signinForm.username.$error.required || !!signinForm.username.$error.minlength || !!signinForm.username.$error.maxlength, success: signinForm.username.$valid}" class="input-addon-item fa fa-user"></i>
      <input name=username ng-model=user.username ng-minlength=3 ng-maxlength=14 class=input-addon-field id=username placeholder="Gib hier deinen Benutzernamen ein..." required>
    </div>

    <label for=password>Passwort:</label>
    <div class=input-addon>
      <i ng-class="{error: !!signinForm.password.$error.required || !!signinForm.password.$error.minlength || !!signinForm.password.$error.maxlength, success: signinForm.password.$valid}" class="input-addon-item fa fa-barcode fa-inverse"></i>
      <input name=password ng-model=user.password ng-minlength=3 ng-maxlength=30 type=password class=input-addon-field id=password placeholder="Gib hier dein Passwort ein..." required>
    </div>
  </fieldset>
  <fieldset>
    <button ng-disabled=!signinForm.$valid type=submit class=primary>
      Anmelden
      <i class="fa fa-arrow-right fa-inverse"></i>
    </button>
    <button ng-click=doCancel() class=primary>
      <i class="fa fa-arrow-left fa-inverse"></i>
      Abbrechen
    </button>
  </fieldset>
</form>
