body {
  color: #ffffff;
  background-color: #04819e;
  text-shadow: 1px 1px 0 #000000;
}

body>header {
  color: #ffb300;
  background-color: #015367;
}

body>article {
  border-left: 2px solid #015367;
  border-right: 2px solid #015367;
}

body>footer {
  color: #ffffff;
  background-color: #015367;
}

textarea,
input {
  color: #015367;
  background-color: #ffffff;
}

.alert,
input:focus,
textarea:focus,
button:active:enabled {
  border: 3px solid #ffb300;
  box-shadow: 3px 3px 14px 3px rgba(255, 179, 0, 0.69);
}

input,
textarea,
button,
fieldset {
  border: 3px solid #ffffff;
}

.message-md,
.message-preview,
.message-smilepad {
  border: 3px solid #1ea410;
}

.message-smilepad>div>p>img,
.primary {
  color: #ffffff;
  background-color: #015367;
}

.message-smilepad>div>p>img:active,
.active,
.primary:active:enabled {
  background-color: #1ea410;
}

.success {
  color: #ffffff;
  background-color: #1ea410;
}

.danger {
  color: #ffffff;
  background-color: #c86413;
}

.error {
  color: #ffffff;
  background-color: #c81313;
}

a {
  color: #ffb300;
}

a:hover {
  text-shadow: 0 0 24px #000000, -1px -5px 24px #000000;
}

a:active {
  box-shadow: 3px 3px 14px 3px rgba(255, 179, 0, 0.69);
}

#main>#main-pages>article {
  border: 3px solid #ffffff;
}

dl>dt {
  border: 3px solid #ffffff;
  background-color: #015367;
}

dl>dd {
  border: 3px solid #ffffff;
  border-top: none;
}

/*
.input-addon-item {
  background-color: #015367;
}
*/

.help-border {
  border: 3px dotted #c81313;
}
