@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300italic,600,400italic,300,200italic,200,600italic,700,700italic,900,900italic);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .5em;
}

body {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

body>header {
  flex: 3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding: .5em;
  min-height: 50px;
}

body>header>h2 {
  margin: auto 0 auto .5em;
  padding: .5em;
  padding-left: 0;
}

body>header>h2>em {
  padding: .5em;
  padding-left: 0;
}

body>header>#powerbar {
  margin-left: auto;
  display: flex;
}

body>header>#powerbar>button {
  margin: auto .5em auto auto;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

body>header>#powerbar>input {
  font-size: .8em;
  margin: auto .5em auto auto;
  padding: .5em;
  border-radius: 25px;
  width: 100px;
  transition: width .4s linear;
}

body>header>#powerbar>input:focus {
  width: 200px;
}

body>article {
  flex: 15;
  padding: .5em;
  display: flex;
  flex-direction: column;
  min-height: 320px;
}

body>article>section {
  flex: auto;
  display: flex;
  flex-direction: column;
}

body>article>section>article {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body>article>section>article>section {
  flex: 1;
}

#session {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#session>h2 {
  flex: 1;
}

#session>h3 {
  flex: 1;
}

#main {
  display: flex;
}

#main>#main-menu {
  flex: 1;
  min-width: 240px;
}

#main>#main-pages {
  flex: 5;
}

#main>#main-pages>article {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.message-container,
.message-md,
.message-preview,
.message-smilepad {
  flex: 3;
  overflow-y: auto;
  padding: .5em;
}

.message-smilepad>div {
  float: left;
}

.message-smilepad>div>p>img {
  height: 75px;
  border: 3px solid #ffffff;
  border-radius: 24px;
  padding: .5em;
}

.message-input {
  flex: 1;
  display: flex;
}

.message-input>r3-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-input>r3-editor>textarea {
  flex: 1;
  width: 100%;
  padding: 1em;
  /*transition: min-height 1.4s ease-in-out;*/
}

/*
.message-input>r3-editor>textarea:focus {
  min-height: 120px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
*/

body>footer {
  flex: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  padding: .5em;
  min-height: 30px;
}

form {
  overflow-y: auto;
  padding: .5em;
}

form>fieldset>legend {
  padding: .5em;
  border-radius: 5px;
}

form>fieldset:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: .5em;
}

form>fieldset:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: .5em;
}

form>fieldset:last-of-type>button {
  float: right;
  width: 50%;
  padding: .5em;
}

form>fieldset:not(:last-of-type) {
  display: flex;
  flex-direction: column;
  border-bottom: none;
  padding: .5em;
}

input {
  width: 100%;
}

form>fieldset>button,
form>fieldset input {
  border-radius: 5px;
  padding: .5em;
}

form>fieldset>label {
  margin: .5em auto .5em auto;
  padding: .5em;
}

.text-center {
  text-align: center;
}

a {
  font-style: italic;
  text-decoration: none;
  border-radius: 5px;
  padding: .5em;
}

dl>dt {
  border-top-left-radius: 5px;
  border-top-right-radius: 14px;
  border-bottom-left-radius: 5px;
  display: flex;
  align-items: center;
}

dl>dt>.message-info {
  margin-left: auto;
}

dl>dt>i {
  padding: .5em;
}

dl>dd {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1em;
}

dl>dd>i:first-of-type {
  margin-right: 1.7em;
  padding: .5em;
}

.input-addon {
  display: flex;
}

.input-addon>*:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}

.input-addon>*:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-addon-field {
  flex: 1;
}

.input-addon-item {
  padding: 1em;
}

.left {
  position: absolute;
  left: 1em;
  right: 50vw;
  top: 1em;
  display: flex;
  flex-direction: column;
}

.right {
  position: absolute;
  left: 50vw;
  right: 1em;
  top: 1em;
  display: flex;
  flex-direction: column;
}

.alert {
  border-radius: 5px;
  padding: .5em;
  margin-top: auto;
  z-index: 1;
}

.toolbar {
  display: flex;
}

.toolbar>button:last-of-type {
  margin-left: auto;
}

.toolbar>button:disabled {
  opacity: .5;
}

.toolbar>button {
  width: 32px;
  height: 32px;
  padding: 0;
}

.toolbar>input {
  font-size: .8em;
}

.helptext {
  width: 100%;
  font-size: .8em;
  padding: .5em;
}

input,
textarea,
button,
.ng-move,
.ng-enter,
.ng-leave {
  transition: all linear 750ms !important;
}

.ng-hide-add,
.ng-hide-remove {
  display: block !important;
}

.ng-hide,
.ng-leave.ng-leave-active,
.ng-move,
.ng-enter {
  opacity: 0;
  max-height: 0;
}

.ng-leave,
.ng-move.ng-move-active,
.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 100%;
}
