<dl ng-repeat="message in channel.messages" id="{{ channel.name }}{{ $index }}">
  <dt>
    <i class="fa fa-user fa-inverse"></i> {{ message.message.sender }}
    <div class=message-info>
      <i class="fa fa-clock-o fa-inverse"></i><em> {{ message.when }}</em>
      <polymer-ui-ratings value=0 count=7></polymer-ui-ratings>
    </div>
  </dt>
  <dd ng-bind-html="message.message.content|markdown">
    <i class="fa fa-comments-o"></i>
  </dd>
</dl>
